.dashboard__manage__company svg {
    color: blue; 
    width: 18px; 
    height: 18px;
}

.manage__hotel {
    border: 1px solid #ccc;
    border-radius: .38rem;
    margin: 1rem auto;
    box-shadow: 2px 2px 5px #ccc;
    padding: 10px;
}
.manage__actions__buttons {
    display: flex;
    justify-content: space-between;
    margin: .5rem auto;
    gap: 10px;
}
.manage__actions__buttons svg {
    display: inline-block;
    color: #fff;
    width: 18px; 
    height: 22px;
    margin-top: -3px;
}
.manage__actions__buttons > div {
 display: flex;
 gap: 10px;   
}