.SignUp__logo__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.SignUp__logo__wrapper .logo {
    border: 2px solid var(--light-blue);
    padding: 10px; 
    border-radius: 50%;
}
.SignUp__logo__wrapper h1 {
    background: linear-gradient(101.81deg, #3645A0 25.84%, #09B5FF 84.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a {
    text-decoration: none;
    color: var(--light-blue);
}
form {
    /* border: 2px solid #ccc; */
    padding: .5rem;
    margin: .5rem 0;
    box-shadow: 0 0 10px rgb(167, 165, 165);
}