.col{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
#landingPage {
    height: 100vh;
    display: flex;
}
h1 {
    background: linear-gradient(101.81deg, #3645A0 25.84%, #09B5FF 84.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Typewriter {
    display: inline-block !important;
}
@media (max-width: 480px) {
    .Typewriter {
        display: block !important;
    }
    #landingPage {
        padding-top: 3rem !important;
    }
}